body {
  background: url('../public/Images/background\ github.jpg');
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.github-card {
  background-color: #f7f7f7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.github-card h1 {
  margin-bottom: 20px;
  color:black;
}

.github-card form {
  margin-bottom: 20px;
}

.github-card input {
  padding: 12px;
  border: 2px solid #007bff;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 80%;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.github-card input:focus {
  border-color: #0056b3;
  outline: none;
}

.github-card button {
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.github-card button:hover {
  background-color: #28a745;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.github-card button:focus {
  outline: none;
}

.github-card button:active {
  transform: translateY(1px);
}


.error-message {
  color: red;
  margin-top: 10px;
}

.content-wrapper {
  max-width: 600px;
  padding: 20px;
}

.avatar-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  border: 4px black solid;
  
}

.form-border {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 15px;
}

.github-card {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  max-width: 400px;
  margin: 0 auto;
}
